<aside class="main-sidebar collapse show" id="collapsePanel">
    <section class="sidebar">
        <div class="user-panel">
            <div class="float-end text-white">
                <a role="button" class="text-white" style="display: block;" data-bs-toggle="collapse" href="#collapsePanel" aria-expanded="false" aria-controls="collapsePanel">
                    <div class="material-icons">navigate_before</div>
                </a>
            </div>
        </div>
        <ul class="sidebar-menu">
            <li>
                <a href="#"><div class="material-icons">home</div><span>Dashboard</span></a>
            </li>
            <li class="active">
                <a href="#"><div class="material-icons">tv</div><span>Fund</span></a>
            </li>
            <li>
                <a href="#"><div class="material-icons">list</div><span>Summary by Fund</span></a>
            </li>
            <li><a href="#">
                <div class="material-icons">dashboard</div>
                <span>Custom View</span></a>
            </li>
        </ul>
    </section>
</aside>